node_modules/
.env
*.log

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/crash.log
*.tfvars.local

# GCP keys
*.json
!package.json
!package-lock.json
dev-infra-503304-key.json 
qa-infra-500307-key.json 
prod-infra-503304-key.json